.card{
    
    border-radius: 5%;
}
.image{
    border-radius: 5%;
}
body{
    background-image:url('Cash.jpg');
    background-size: cover;
    
}
card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  img {
    border-radius: 5% 5% 5% 5%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }

 
